.delete-form {
  display: inline;
}

.caption {
  padding: 9px;
}

.img-thumbnail {
  padding: 0
}

.img-thumbnail img {
  width: 100%;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}
